/* Global Resetting */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e3ebf0;
  transition: all 350ms;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  font-size: 1em;
}

html.translated_ltr {
  color: red;
}

* {
  font-size: 1em;
  /* reset font-sizes to 1em == 10px */
  padding: 0;
  margin: 0;
  outline: none !important;
  text-decoration: none;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: auto;
}

// General
.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.clear {
  clear: both;
}

.devShow {
  box-shadow: 0px 0px 0px 1px #000;
}

font {
  font-family: inherit !important;
  color: inherit;
}

// Text Highlighting
::-moz-selection {
  background: #b28abf;
  color: #fff !important;
}

::selection {
  background: #b28abf;
  color: #fff !important;
}


// Inline block
.dib {
  display: inline-block;
  vertical-align: middle;
}

// Flex columns and rows
.flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.col {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100%;
}

// Scrolling
.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-x {
  overflow-y: hidden;
  overflow-x: auto;
}

// Columns
$columns: 12;

@for $i from 1 through $columns {
  .col-#{$i} {
    display: flex;
    position: relative;
    width: percentage($i/$columns);
  }
}

@for $i from 1 through $columns {
  .flex-#{$i} {
    flex: $i;
  }
}

// Margins and padding
@for $i from 1 through 10 {
  $px: #{(5*$i)}px;

  .p#{(5*$i)} {
    padding: $px;
  }

  .pl#{(5*$i)} {
    padding-left: $px;
  }

  .pr#{(5*$i)} {
    padding-right: $px;
  }

  .pt#{(5*$i)} {
    padding-top: $px;
  }

  .pb#{(5*$i)} {
    padding-bottom: $px;
  }

  .m#{(5*$i)} {
    margin: $px;
  }

  .ml#{(5*$i)} {
    margin-left: $px;
  }

  .mr#{(5*$i)} {
    margin-right: $px;
  }

  .mt#{(5*$i)} {
    margin-top: $px;
  }

  .mb#{(5*$i)} {
    margin-bottom: $px;
  }
}

// Simple CSS Grid (apply this class to the parent for a simple responsive grid)
.grid {
  display: grid;
  grid: auto-flow dense auto / repeat(auto-fit, minmax(300px, 1fr));
}

// Wrapping
.stack {
  min-width: 300px;
}

@for $i from 2 through 20 {
  .stack#{(24*$i)} {
    min-width: #{(24*$i)}px;
  }

  .stack#{(25*$i)} {
    min-width: #{(25*$i)}px;
  }

  .grid#{(24*$i)} {
    height: 100%;
    display: grid;
    grid: auto-flow dense auto / repeat(auto-fit, minmax(#{(24*$i)}px, 1fr));
  }
}

// Spacing
.space-around {
  justify-content: space-around;
  align-content: space-around;
}

.space-between {
  justify-content: space-between;
  align-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
  align-content: space-evenly;
}

// Alignment
.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

// Wrapping
.flex-nowrap {
  flex-wrap: nowrap;
}

// Center column
.inner {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// Icons sizes
$maxIconSize: 200;
$smallest: 8;
$multiplesOfEight: 33;

@for $i from 1 through $maxIconSize {
  @if $i < $multiplesOfEight and $i>$smallest {
    .iconSize#{$i} {
      font-size: #{$i}px;
      width: #{$i}px !important;
      height: #{$i}px !important;
      line-height: #{$i}px;
    }
  }

  @else {
    @if $i % $smallest==0 {
      .iconSize#{$i} {
        font-size: #{$i}px;
        width: #{$i}px !important;
        height: #{$i}px !important;
        line-height: #{$i}px;
      }
    }
  }
}

// Mobile - stack sizes to full width
@media screen and (max-width: 400px) {
  *[class*="stack"] {
    min-width: 100% !important;
  }

  .grid {
    grid: auto-flow dense auto/repeat(auto-fit, minmax(200px, 1fr));
  }
}
