i {
  font-size: 3em !important;
}

body {
  padding: 20px;
  height: auto !important;

  * {
    font-weight: lighter;
    color: #202c45;
  }
}

.title {
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 1.4em;
}




button[type=submit],
input[type=submit] {
  border: none;
  cursor: pointer;
  background: #fa4797;
  color: #fff;
  border-radius: 4px;
  padding: 8px 20px;
  margin-bottom: 10px;
}



.bold {
  font-weight: 500;
}
