::-webkit-scrollbar{
	width:6px;
	height:9px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{
	display:block;
	height:0;
	background-color:transparent;
}
::-webkit-scrollbar-track-piece{
	background-color: rgba(43,43,43,0.5);
}
::-webkit-scrollbar-thumb{
	background-color: rgba(255,255,255,0.6);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:vertical{
}
::-webkit-scrollbar-thumb:horizontal{
}
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(255,255,255,0.6);
} 