.card {
  padding: 30px;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}

.error {
  background: #d4397926;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 12px;
  color: #d43979;
  font-weight: bolder;

  * {
    color: #d43979;
    font-weight: bolder;
  }
}

.disabled {
  opacity: 0.3;
}

.blackout {
  position: fixed;
  background-color: rgb(0 0 0 / 81%);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 50;
  cursor: pointer;
}

.success {
  padding: 0px;
  position: fixed;
  z-index: 80;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    padding: 20px 40px !important;
    background: #4acaa7;
    color: #fff;
  }
}

.bi-x {
  position: absolute;
  top: 16px;
  right: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.top-form {
  border-bottom: 2px solid #efefef;
  margin-bottom: 18px;
  padding-bottom: 8px;
}

.field-render {
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid #efefef;
  max-width: 500px;
  position: relative;
  padding-right: 120px;
}

.created-at {
  position: absolute;
  font-weight: bold;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  padding: 4px 10px;
  color: #fff;
  border-radius: 4px;
  background: #39b4ac;
}
