<div class='col-12 row p30 align-center justify-center'>
  <div class='col stack400 card m10' id='formContainer'>
    <div class='col-12 title'>
      Create Form
    </div>
    <form class='col-12 top-form col' [formGroup]="fieldForm" (ngSubmit)="onFieldSubmit()">
      <div class='col-12'>
        <mat-form-field appearance="fill" class='col-12'>
          <mat-label>Field Label</mat-label>
          <input matInput type="text" formControlName="label">
        </mat-form-field>
      </div>
      <div class='col-12'>
        <mat-form-field appearance="fill" class='col-12'>
          <mat-label>Field Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
      </div>
        <mat-form-field appearance="fill" class='col-12'>
          <mat-label>Field Type</mat-label>
          <mat-select formControlName="type">
            <mat-option  [value]="'text'">
              Text
            </mat-option>
            <mat-option  [value]="'textarea'">
              Text area
            </mat-option>
            <mat-option  [value]="'checkbox'">
              Check box
            </mat-option>
            <mat-option  [value]="'radiobutton'">
              Services
            </mat-option>
            <mat-option  [value]="'email'">
              Email
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class='col-12 mt10 mb10'>
          <mat-checkbox formControlName="required" [value]='1'>Required</mat-checkbox>
        </div>
        <div class='col-12'>
          <button type='submit' [disabled]="!(this.fieldForm.dirty && this.fieldForm.valid)" [ngClass]="{'disabled': !(this.fieldForm.dirty && this.fieldForm.valid)}">Add</button>
        </div>
    </form>
    <div class='col-12 col' >
      <div class='col-12 title'>
        Your Form...
      </div>
      <form class='col-12 col' [formGroup]="customForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let field of this.formFieldData$  | async">
          <!-- Text -->
          <div  *ngIf="field.type === 'text'" class='col-12'>
            <mat-form-field appearance="fill" class='col-12'>
              <mat-label>{{field.label}}</mat-label>
              <input matInput type="text" formControlName="{{field.name}}">
            </mat-form-field>
          </div>
          <!-- Text -->
          <!-- Text -->
          <div  *ngIf="field.type === 'email'" class='col-12'>
            <mat-form-field appearance="fill" class='col-12'>
              <mat-label>{{field.label}}</mat-label>
              <input matInput type="email" formControlName="{{field.name}}">
            </mat-form-field>
          </div>
          <!-- Text -->
          <!-- Textarea -->
            <div  *ngIf="field.type === 'textarea'" class='col-12'>
              <mat-form-field appearance="fill" class='col-12'>
                <mat-label>{{field.label}}</mat-label>
                <textarea matInput formControlName="{{field.name}}"></textarea>
              </mat-form-field>
            </div>
          <!-- Textarea -->
          <!-- Checkbox -->
          <div class='col-12 mt10 mb10' *ngIf="field.type === 'checkbox'">
            <mat-checkbox formControlName="{{field.name}}" [value]='1'>{{field.label}}</mat-checkbox>
          </div>
          <!-- Checkbox -->
          <!-- Radio button -->
          <div *ngIf="field.type === 'radiobutton'" class='col-12 col'>
            <div class='bold mb10 mt20'>Services</div>
            <mat-radio-group  formControlName="{{field.name}}" class='col col-12'>
              <mat-radio-button value="Development" class='mb10'>Development</mat-radio-button>
              <mat-radio-button value="Design" class='mb10'>Design</mat-radio-button>
              <mat-radio-button value="Optimisation" class='mb10'>Optimisation</mat-radio-button>
              <mat-radio-button value="PaidSearch">Paid Search</mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- Radio button -->
      </div>
      <div class='col-12 pt30'>
        <button type='submit' [disabled]="!(this.customForm.dirty && this.customForm.valid)" [ngClass]="{'disabled': !(this.customForm.dirty && this.customForm.valid)}">Submit</button>
      </div>
      </form>
    </div>
  </div>
  <!-- Results -->
  <div *ngIf="(submittedFieldsData$ | async)?.length > 0" class='card col'>
    <div *ngFor="let field of (submittedFieldsData$ | async)" class='field-render'>
      <span class='bold'>{{ field['name'] }}:</span> {{field['value']}} <div class='created-at'>{{field['created_at'] | date: 'h:mm:ss a'}}</div>
    </div>
  </div>
  <!-- Results -->
</div>
